*.class
*.log
Docker-REST/app/.idea
Docker-REST/app/__pycache__
SparkStreaming/NetworkWordCount/.bsp
SparkStreaming/NetworkWordCount/.idea
SparkStreaming/NetworkWordCount/project/project
SparkStreaming/NetworkWordCount/project/target
SparkStreaming/NetworkWordCount/target/task-temp-directory
SparkStreaming/NetworkWordCount/target/scala-2.12/update
SparkStreaming/NetworkWordCount/target/scala-2.12/zinc
SparkStreaming/NetworkWordCount/target/scala-2.12/classes
SparkStreaming/NetworkWordCount/target/global-logging
SparkStreaming/NetworkWordCount/target/streams
SparkStreaming/NetworkWordCount/target/.history3
SparkStreaming/DirectKafkaWordCount/.bsp
SparkStreaming/DirectKafkaWordCount/.idea
SparkStreaming/DirectKafkaWordCount/project/project
SparkStreaming/DirectKafkaWordCount/project/target
SparkStreaming/DirectKafkaWordCount/target/task-temp-directory
SparkStreaming/DirectKafkaWordCount/target/scala-2.12/update
SparkStreaming/DirectKafkaWordCount/target/scala-2.12/zinc
SparkStreaming/DirectKafkaWordCount/target/scala-2.12/classes
SparkStreaming/DirectKafkaWordCount/target/global-logging
SparkStreaming/DirectKafkaWordCount/target/streams
SparkStreaming/DirectKafkaWordCount/target/.history3
SparkStreaming/StructuredNetworkWordCount/.bsp
SparkStreaming/StructuredNetworkWordCount/.idea
SparkStreaming/StructuredNetworkWordCount/project/project
SparkStreaming/StructuredNetworkWordCount/project/target
SparkStreaming/StructuredNetworkWordCount/target/task-temp-directory
SparkStreaming/StructuredNetworkWordCount/target/scala-2.12/update
SparkStreaming/StructuredNetworkWordCount/target/scala-2.12/zinc
SparkStreaming/StructuredNetworkWordCount/target/scala-2.12/classes
SparkStreaming/StructuredNetworkWordCount/target/global-logging
SparkStreaming/StructuredNetworkWordCount/target/streams
SparkStreaming/StructuredNetworkWordCount/target/.history3
SparkStreaming/StructuredNetworkWordCountWindowed/.bsp
SparkStreaming/StructuredNetworkWordCountWindowed/.idea
SparkStreaming/StructuredNetworkWordCountWindowed/project/project
SparkStreaming/StructuredNetworkWordCountWindowed/project/target
SparkStreaming/StructuredNetworkWordCountWindowed/target/task-temp-directory
SparkStreaming/StructuredNetworkWordCountWindowed/target/scala-2.12/update
SparkStreaming/StructuredNetworkWordCountWindowed/target/scala-2.12/zinc
SparkStreaming/StructuredNetworkWordCountWindowed/target/scala-2.12/classes
SparkStreaming/StructuredNetworkWordCountWindowed/target/global-logging
SparkStreaming/StructuredNetworkWordCountWindowed/target/streams
SparkStreaming/StructuredNetworkWordCountWindowed/target/.history3
SparkStreaming/StructuredKafkaWordCount/.bsp
SparkStreaming/StructuredKafkaWordCount/.idea
SparkStreaming/StructuredKafkaWordCount/project/project
SparkStreaming/StructuredKafkaWordCount/project/target
SparkStreaming/StructuredKafkaWordCount/target/task-temp-directory
SparkStreaming/StructuredKafkaWordCount/target/scala-2.12/update
SparkStreaming/StructuredKafkaWordCount/target/scala-2.12/zinc
SparkStreaming/StructuredKafkaWordCount/target/scala-2.12/classes
SparkStreaming/StructuredKafkaWordCount/target/global-logging
SparkStreaming/StructuredKafkaWordCount/target/streams
SparkStreaming/StructuredKafkaWordCount/target/.history3
SparkStreaming/MLStreaming/.bsp
SparkStreaming/MLStreaming/.idea
SparkStreaming/MLStreaming/project/project
SparkStreaming/MLStreaming/project/target
SparkStreaming/MLStreaming/target/task-temp-directory
SparkStreaming/MLStreaming/target/scala-2.12/update
SparkStreaming/MLStreaming/target/scala-2.12/zinc
SparkStreaming/MLStreaming/target/scala-2.12/classes
SparkStreaming/MLStreaming/target/global-logging
SparkStreaming/MLStreaming/target/streams
SparkStreaming/MLStreaming/target/.history3
