*.class
*.log
**/.DS_Store
**/__pycache__/
**/.idea/
**/.bsp/
**/project/project/
**/project/target/
**/target/task-temp-directory/
**/target/scala-2.12/update/
**/target/scala-2.12/zinc/
**/target/scala-2.12/classes/
**/target/global-logging/
**/target/streams/
**/target/.history3
Spark/NYCTaxi/data
SparkStreaming/MLStructuredStreaming/checkpoint
**/.ipynb_checkpoints/
**/pipelineModel
**/result
**/.ipynb_checkpoints
**/.metals/
**/.vscode/
